.appBar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}
.appBar_title {
  text-transform: uppercase;
}
.appBar_menu{
  position: relative;
}
.appBar_navbar{
  display: flex;
  align-items: center;
}
.appBar_user{
  font-size: 1em;
  padding: 0 16px;
  border-bottom: 2px solid rgba(#333, 0.2);
}
.appBar_signOut{
  background: #c9485d !important;
  color: #ffffff !important;
  border-radius: 10px !important;
}
.appBar_logo{
  max-width: 200px;
  margin: 10px;
}
