.thing {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 25px;
  border-bottom: 2px solid rgba(#333, 0.2);
}
.thing_image {
  height: 100px;
  width: 250px;
}
.thing_wrapper {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.thing_category {
  color: #5c5c5c;
  font-style: italic;
}
.thing_add{
  text-align: right;
}