.cases {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cases_cards {
  max-width: 350px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 25px;
}
.module {
  display: flex;
  align-items: center;
  justify-content: center;
}
.module_paper {
  width: 400px;
  background-color: #fff;
  padding: 25px;
}
.modal_buttons{
  display: flex;
  justify-content: space-between;
}